---
import type { JSX } from "astro/jsx-runtime";
import { type Author } from "@/data/types";
import { getUrl } from "@/utilities/url/";
import { getTeamName } from "@/utilities/authors/";
import { getTextSeparator } from "@/utilities/text/";


interface Props {
    authors: Author[];
}

const { authors } = Astro.props;
const elements: JSX.Element[] = [];

authors.forEach((author, index) => {
    elements.push(
        <a href={getUrl(`/team/${author.id}`)}>
            {author.data.name}
        </a>
    );
    const separator = getTextSeparator(index, authors.length);
    
    if (separator) {
        elements.push(<>{separator}</>);
    }
});
---

{authors.length > 0 ? (
    <>{elements}</>
) : (
    <a href={getUrl("/")}>{getTeamName()}</a>
)}